<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    sign up
    <form action="/signup" method="POST">
    <input type="text" placeholder="username" name="username"><br>
    <input type="password" placeholder="password" name="password"><br>
    <input type="text" placeholder="user/vendor" name="usertype"> <br>
    <input type="number" placeholder="phone" name="phone">
    <button type="submit">Sign up</button>
    </form>
</body>
</html>