<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="/user/cart.js"></script>
</head>
<style>
    td {}
</style>

<body>
    
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand" href="/user">HOME</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/user/products">products<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="/user/cart">cart<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/wishlist">wishlist<span class="sr-only">(current)</span></a>
                    </li>

                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a class="nav-link" href="/logout">logout<span class="sr-only">(current)</span></a>
                </form>

            </div>
        </nav>
    


    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>  </th>
                        </tr>
                    </thead>
                    <tbody id="cart-table">
                    </tbody>
                </table>
                <hr>
                <div style="float: right">
                    <span>Subtotal:</span>
                    <span id="subtot">750</span>
                </div><br><br><br>
            <div style="float: right;">
                <span>
                    <form class="form-inline my-2 my-lg-0" action="/user/payment" method="GET">
                    <button class="btn btn-primary" id="checkout" type="submit">Checkout</button></form></span>
            </div>
            </div>

        </div>

    </div>















    <br>
    <div  class="footer" style="background-color:#212529;">
        <div class="row">
            <div class="col-6">
                <div style="padding:10px; margin:20px 40px;color:white ">
                    <h2>FOOTER CONTENT</h2>
                    <p>Here you can use rows and columns to organize your footer content.</p>
                </div>
            </div>

            <div class="col-3">
                <div style="padding:10px; margin:20px 0px;color:white;">
                    <h2>LINKS</h2>
                    <ul style="list-style: none">
                        <li>
                            link
                        </li>
                        <li>
                            link
                        </li>
                    </ul>
                </div>

            </div>

            <div class="col-3">
                <div style="padding:10px; margin:20px 0px;color:white;">
                    <h2>LINKS</h2>
                    <ul style="list-style: none">
                        <li>
                            link
                        </li>
                        <li>
                            link
                        </li>
                    </ul>
                </div>

            </div>


        </div>
    </div>


</body>
<style>
    .footer{
        position:relative;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        
        
    }
</style>
</html>